{% extends 'base.html.twig' %}

{% block title %}Movie World{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <nav id="user-nav">
                <a href="/logout">Logout</a>
            </nav>

            <h1>Movie World</h1>

            <div id="movie-actions">
                <a href="{{ path('movie_new') }}">
                    <button id="movie-new" class="btn btn-success">
                        New movie
                    </button>
                </a>
                <div id="voting">
                    <p>Sort by:</p>
                    <ul>
                        <li class="vote-list"> 
                            <input type="radio" id="likes" name="movie-sort" value="Likes">
                            <label for="likes">Likes</label>
                        </li>
                        <li class="vote-list">
                            <input type="radio" id="hates" name="movie-sort" value="Hates">
                            <label for="hates">Hates</label>
                        </li>
                        <li class="vote-list">
                            <input type="radio" id="dates" name="movie-sort" value="Dates">
                            <label for="dates">Dates</label>  
                        </li>
                    </ul>
                </div>     
            </div>

            {% for movie in movies %}
                <div class="movie-list">
                    <h2 class="movie-title">{{ movie.Title }} </h2>
                    <p class="posted-info">Posted {{ movie.DateOfPublication ? movie.DateOfPublication|date('d/m/Y') : '' }}</p>
                    <p class="movie-description">{{ movie.Description }}</p>
                    <p class="movie-votes"><span class="likes">{{ movie.Likes }} likes</span>| <span class="hates">{{ movie.Hates }} hates</span></p>
                    <p class="movie-votes"> <a href="{{ path('movie_vote', {'id': movie.id, 'Opinion':'Like'}) }}"><span class="Like" data="no-vote" data-id="0">Like </span></a>| <a href="{{ path('movie_vote', {'id': movie.id, 'Opinion':'Hate'}) }}"><span class="Hate" data="vote" data-id="0">Hate</span></a></p>
                    <p class="posted-info">Posted by <a href="{{ path('movie_user', {'user': movie.NameOfTheUser}) }}"><span style="color:#00adef;" >{{ movie.NameOfTheUser }}</span></a></p>
                    <div class="actions">
                        <a href="{{ path('movie_edit', {'id': movie.id}) }}">edit</a>
                    </div>
                </div>
            {% endfor %}

            <table class = "table table-bordered" style="clear:both;">  
                <tbody id = "movie"></tbody>  
            </table>             
        </div>
    </div>
</div>
   
{% endblock %}
